# Example environment variables for old-flask-app
RADARR_URL=
RADARR_API_KEY=
SONARR_URL=
SONARR_API_KEY=
TMDB_API_KEY=
THETVDB_API_KEY=
QBITTORRENT_URL=http://192.168.1.78:8080
QBITTORRENT_USERNAME=
QBITTORRENT_PASSWORD=
JELLYFIN_URL=
JELLYFIN_API_KEY=
